.kima-partners-marquee {
  background-color: #f7f7f7;
  padding-top: 0;
  padding-bottom: 0;
}

.kima-partners-marquee .brand-slider-1::before {
  background-image: linear-gradient(90deg, #1b4781 0%, rgba(232, 238, 244, 0) 100%);
}

.kima-partners-marquee .brand-slider-1::after {
  background-image: linear-gradient(-90deg, #1b4781 0%, rgba(232, 238, 244, 0) 100%);
}

.kima-partners-marquee .brand-logo {
  background: transparent;
}

.kima-partners-marquee .brand-logo img {
  max-height: 50px;
  width: auto;
  object-fit: contain;
}
